/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Fira Mono', monospace;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the main app container */
.app-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    color: #87CEFA;
    margin-bottom: 40px; /* Add margin to increase space below the heading */
}

/* Style the header */
header {
    margin-bottom: 20px;
    width: 100%;
}

header input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    transition: background 0.3s ease;
}

header input:focus {
    background: rgba(255, 255, 255, 0.6);
}

/* Style the main content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loading-spinner {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Style the location section */
.location .city {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #FFD700; /* Gold color */
}

.location .date {
    font-size: 16px;
    margin-bottom: 20px;
    color: #FFA07A; /* Light Salmon color */
}

/* Style the current weather section */
.current .icon img {
    width: 100px;
    height: 100px;
}

.current .temp {
    font-size: 64px;
    font-weight: 700;
    margin: 10px 0;
    color: #00FF7F; /* Spring Green color */
}

.current .weather {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
    color: #FF4500; /* Orange Red color */
}

.current .hi-low {
    font-size: 18px;
    color: #87CEFA; /* Light Sky Blue color */
}
